* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    --font-style-1: "Lora", serif;
    --font-nav-items: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

img {
    height: 100vh;
    object-fit: cover;
}

.hero-section {
    position: relative;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.navv {
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navv p {
    font-family: var(--font-style-1);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}

.menu {
    display: none;
}

.nav-items {
    display: flex;
    gap: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-family: var(--font-nav-items);
    margin-right: 1rem;
    margin-bottom: 0;
}

.slider {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 10rem;
    width: 30%;
    margin-left: 10vw;
    z-index: 1;
}

.overlay-text p {
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--font-style-1);
    color: #1f1522;
}

.gallary {
    margin: 6rem 0;
    width: 100vw;
    /* height: 88%.; */
    overflow: hidden;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.gallary .column{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 28%;
}
.grid{
    /* height: fit-content;
    width: fit-content; */
    overflow: hidden;
    background-color: #e2e2e2;

}
.gallary img{
    width: 100%;
    height: auto;
    object-fit: contain;
    /* border-radius: 0.25rem; */
    /* width: fit-content; */
}


@media (max-width:425px) {
    .navv p {
        font-size: 1rem;
    }

    .overlay-text p {
        font-size: 1.5em;
    }

    .nav-items {
        display: none;
    }

    .menu {
        display: block;
        border: none;
        background: transparent;
        padding: 0.5rem;
    }

}