* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    --font-style-1: "Lora", serif;
    --font-nav-items: "Montserrat", sans-serif;
    --font-style-2: "EB Garamond", serif;
}

ul {
    list-style: none;
}

img {
    height: 100vh;
    object-fit: cover;
}

.hero-section {
    position: relative;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.navv {
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navv p {
    font-family: var(--font-style-1);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}

.menu {
    display: none;
}

.nav-items {
    display: flex;
    gap: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-family: var(--font-nav-items);
    margin-right: 1rem;
    margin-bottom: 0;
}

.slider {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 10rem;
    width: 40%;
    word-wrap: normal;
    margin-left: 10vw;
    z-index: 1;
}

.overlay-text p {
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--font-style-1);
    color: #1f1522;
}

.gallary {
    margin: 6rem 0;
    width: 100vw;
    /* height: 88%.; */
    overflow: hidden;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.gallary .column{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 28%;
}
.grid{
    /* height: fit-content;
    width: fit-content; */
    overflow: hidden;
    background-color: #e2e2e2;

}
.gallary img{
    width: 100%;
    height: auto;
    object-fit: contain;
    /* border-radius: 0.25rem; */
    /* width: fit-content; */
}
.testimonial{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 6rem;
}
.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--font-nav-items);
    font-weight: 500;
}
.left .head{
    font-size: 18px;
    font-weight: 600;
}
.right{
    width: 40%;
    height: auto;
}
.right img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.poster{
    width: 100vw;
    position: relative;
    margin-bottom: 6rem;
}
.poster .poster-img{
    width: 100%;
}
.poster img{
    width: 100%;
    object-fit: cover;
}
.center-text{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-style-1);
    color: #fff;
    margin-left: 0;
    padding: 2rem;
    text-shadow: 1px 2px 30px#000000;
}
.text-section{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.text-section .head{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--font-style-2);
}
.text-section .text{
    font-size: 17px;
    font-family: var(--font-nav-items);

}


@media (max-width:425px) {
    .navv p {
        font-size: 1rem;
    }

    .overlay-text p {
        font-size: 1.5em;
    }

    .nav-items {
        display: none;
    }

    .menu {
        display: block;
        border: none;
        background: transparent;
        padding: 0.5rem;
    }
    .testimonial{
        flex-direction: column;
        align-items: center;
    }
    .left{
        width: 80%;
    }
    .right{
        width: 80%;
    }
    .center-text{
        font-size: 2.5rem;
    }
    .text-section{
        width: 80%;
    }
    .text-section .head{
        font-size: 1.75rem;
    }
    .text-section .text{
        font-size: 15px;
    }

}